/* Subtitle */

#sub-title-wrapper {
    overflow: hidden;
    white-space: nowrap;
}

#sub-title-text {
    margin-left: 0;
    animation: slidein 1s ease-in-out;
}

@keyframes slidein {
    0% {
        margin-left: -300px;
    }
    100% {
        margin-left: 0;
    }
}


/* Background */
body {
    background: linear-gradient(225deg, #26a69a, #42a5f5, #7e57c2);
    background-size: 200% 200%;
    animation: gardient 40s ease infinite;
}

@keyframes gardient {
    0%{background-position:90% 0%}
    50%{background-position:10% 100%}
    100%{background-position:90% 0%}
}
